.fetch {
    margin: 2px;
    width: 100%;
    background-color: lightseagreen;
}

.chat{
    width: 100%;
    height: 100%;
    text-align: center;
}

#conversation {
    width: 100%;
}

#message {
    width: 100%;
}

#send {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightseagreen;
}