<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
          <div class="mat-display-1" style="margin-top: 50px;">Choose role for signing up!</div>
            <div class="select-class">
                <mat-form-field class="mat-form">
                    <mat-label>Register as:</mat-label>
                    <mat-select [ngModel]="getSelected()" (ngModelChange)="setSelected($event)">
                      <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <app-admin-registration *ngIf="adminPreview"></app-admin-registration>
            <app-user-registration *ngIf="userPreview"></app-user-registration>
            <app-agent-registration *ngIf="agentPreview"></app-agent-registration>
            <button type="button" mat-stroked-button color="accent" class="back-to-login" routerLink="/login">
              <i class="fa fa-sign-in"></i>
              <span> Back to Login Page</span>
          </button>
        </div>
    </div>
</body>
</html>