<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Home page</title>
</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
            <form class="search-form">
                <mat-form-field id="city">
                    <mat-label>City</mat-label>
                    <mat-select [(ngModel)]="query.city" name="cities">
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                          {{city.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <div class="form-group" id="date">
                    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" readonly="true"
                        style="background: #fff;" [(ngModel)]="rentSpan.rentSpan" name="rentSpan" [selectMode]="'range'" [min]="min" matTooltip="Choose time of renting">
                    <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                </div>

                <button mat-flat-button color="primary" id="button" (click)="onSearch()"><i class="fa fa-search"></i><span> Search</span></button>
                <div class="rout">
                    <button *ngIf="!loggedIn" mat-stroked-button color="accent" style="margin-right: 5px;" [routerLink]="['/login']"><i class="fa fa-sign-in"></i><span> Login</span></button>
                    <button *ngIf="!loggedIn" mat-stroked-button color="accent" [routerLink]="['/registration']"><i class="fa fa-user"></i><span> Register</span></button>
                    <button *ngIf="loggedIn" mat-flat-button color="primary" [routerLink]="['/advert']"><i class="fa fa-plus"></i><span> New Advert</span></button>
                    <button *ngIf="loggedIn" mat-flat-button color="primary" [routerLink]="['/user']"><i class="fa fa-user"></i><span> My profile</span></button>
                </div>
            </form>
            <!-- Adverts -->
            <div class="containerForAdverts">
                <div class="advert" *ngFor="let advert of adverts">
                    <div class="image-container">
                        <img class="image" [src]="imageURL" alt="Car photo" height="150" width="200">
                    </div>
                    <div class="text-container">
                        <p style="font-weight: bold;">{{advert.brand}} {{advert.model}} </p>
                        <p>Fuel type: {{advert.fuel}}</p>
                        <p>Transmission: {{advert.transmission}}</p>
                        <p>Price: {{advert.price}}$</p>
                        <p>Available from: {{formatAdvertDate(advert.dateStart)}}</p>
                        <p>Available until: {{formatAdvertDate(advert.dateEnd)}}</p>
                        <p>Posted by: {{advert.username}} </p>
                    </div>
                    <div class="button-container">
                        <button mat-stroked-button color="primary" [routerLink]="'/details'"><i class="fa fa-info"></i><span> Details</span></button>
                    </div>
                </div>
            </div>

            <button *ngIf="loggedIn" mat-stroked-button color="accent" (click)="onLogout()" [routerLink]="['/home']" class="pull-left" style="margin-bottom: 20px;"><i class="fa fa-sign-out"></i><span> Sign out</span></button>
        </div>
    </div>
</body>
</html>