.search-form {
    margin-left: 15%;
    width: 100%;
    display: block;
    position: relative;
}

#city {
    margin-left: -30%;
    width: 20%;
    margin-right: 5%;
    height: 50px;
}

#date {
    display: inline;
    margin-right: 20%;
    border-radius: 10%;
}

#button {
    width: 15%;
    margin-left: -15%;
}

.rout {
    display: inline;
    margin-left: 10%;
    margin-right: -10%;
}

.containerForAdverts {
    margin: 5% 0;
}

.advert {
    width: 100%;
    position: relative;
    border: 1px solid rgb(75, 64, 64);
    box-shadow: 5px 5px #888888;
    margin-bottom: 5%;
}

.image-container {
    position: relative;
    margin-left: -75%;
    margin-top: 1%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-container {
    position: relative;
    margin-left: 10%;
    margin-top: -15%;
}

.button-container {
    position: relative;
    margin-left: 80%;
    margin-bottom: 1%;
}

#btn1{
    position: relative;
    margin-bottom: 5%;
    margin-left: 20%;

}

