<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Admin Homepage</title>
</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
            <div class="navbar" style="padding-left: 90%; margin: 2% 0; position: relative;">
                <button (click)="openInbox()" mat-raised-button color="primary" id="messages-button"><span><i class="fa fa-envelope"></i> Inbox</span></button>
            </div>
            <div class="mat-display-1">Leave a review for advert</div>
            <div class="containerForAdverts">
                <div class="advert" *ngFor="let number of numberOfAdverts; index as i">
                    <div class="image-container">
                        <img class="image" [src]="imageSources[i]" alt="Audi A6" height="150" width="200">
                    </div>
                    <div class="text-container">
                        <p>Good and affordable car</p>
                        <p>Price: 200$</p>
                        <p>Available from: 21/02/2020</p>
                        <p>Available until: 15/07/2020</p>
                    </div>
                    <div class="button-container">
                        <button (click)="openDialog()" mat-stroked-button color="primary"><i class="fa fa-pencil"></i><span> Leave a review</span></button>
                    </div>
                </div>
            </div>

            <button (click)="onLogout()" mat-raised-button color="primary" class="pull-left" id="logout" style="margin-right: 2rem;">
                <i class="fa fa-sign-out"></i>
                <span> Logout</span>
            </button>
        </div>
    </div>
</body>
</html>