<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Inbox</title>
</head>
<body>
    <div class="jumbotron">
        <div class="mat-display-1" style="margin-bottom: 0px;">Messanger</div>
        <hr>
        <div class="content">
            <div class="contacts">
                <app-inbox-contacts></app-inbox-contacts>
            </div>
            <div class="messanger">
                <app-inbox-messanger></app-inbox-messanger>
            </div>
        </div>
        <button mat-flat-button class="pull-left" style="margin: 20% 0; width: 20%; background-color: lightseagreen;" [routerLink]="['/home']">Home</button>
        <button (click)="onLogout()" mat-flat-button color="accent" class="pull-right" style="margin: 20% 0; width: 20%;"><span><i class="fa fa-sign-out"></i> Sign out</span></button>
    </div>
</body>
</html>