<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Inbox</title>
</head>
<body>
    <div class="jumbotron">
        <h2>Inbox</h2>
        <hr>
        <div class="content">
            <div class="contacts">
                <app-inbox-contacts></app-inbox-contacts>
            </div>
            <div class="messanger">
                <app-inbox-messanger></app-inbox-messanger>
            </div>
        </div>
    </div>
</body>
</html>