<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home page</title>
</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
            <div class="containerForAdverts">
                <div class="advert" *ngFor="let advert of adverts">
                    <div class="image-container">
                        <img class="image" src="https://www.audi.rs/media/Video_PreviewImage_Component/48125-408421-previewImage/dh-1180-714db4/150ffd69/1585823861/1400x788-montevideo-modul4-fallback.jpg" alt="Audi A6" height="150" width="200">
                    </div>
                    <div class="text-container">
                        <p style="font-weight: bold;">{{advert.brand}} {{advert.model}} </p>
                        <p>Fuel type: {{advert.fuel}}</p>
                        <p>Transmission: {{advert.transmission}}</p>
                        <p>Price: {{advert.price}}$</p>
                        <p>Available from: {{formatAdvertDate(advert.dateStart)}}</p>
                        <p>Available until: {{formatAdvertDate(advert.dateEnd)}}</p>
                        <p>Posted by: {{advert.username}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>