.mat-display-1 {
    margin-bottom: 0%;
}

.back {
    margin: 20% 0;
    text-align: left;
}



.entity {
    margin-top: 5%;
}

.add-entity {
    text-align: right;
}

.mat-elevation-z8 {
    margin-bottom: 5%;
}